lumen/vendor
lumen/.idea
lumen/Homestead.json
lumen/Homestead.yaml
lumen/.env
lumen/.phpunit.result.cache
lumen/.gitignore


# Logs
vue/logs
vue/*.log
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*
vue/lerna-debug.log*

vue/node_modules
vue/.DS_Store
vue/dist
vue/dist-ssr
vue/coverage
vue/*.local

vue/cypress/videos/
vue/cypress/screenshots/

# Editor directories and files
vue/.vscode/*
vue/!.vscode/extensions.json
vue/.idea
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln
vue/*.sw?

vue/.gitignore